html {
  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: unset;
}